APP_PORT=8078

WWWUSER=www
WWWGROUP=www

DB_HOST=db
DB_DRIVER=pgsql # mysql
DB_PORT=5432 # 3306
DB_DATABASE=tech_local_db
DB_USERNAME=demo_tech_user
DB_PASSWORD=demo_tech.pass
DB_DATA_STORAGE=./dockDB/data

CONTAINER_NAME=tech-local
COMPOSE_PROJECT_NAME=techlocal
CONTAINER_MODE=unless-stopped

YII_DEBUG=true
YII_ENV=dev