APP_PORT=8078

WWWUSER=www
WWWGROUP=www

DB_HOST=db
DB_DRIVER=mysql # pgsql
DB_PORT=3306 # 5432
DB_DATABASE=tech_local_db
DB_USERNAME=demo_tech_user
DB_PASSWORD=demo_tech.pass
DB_DATA_STORAGE=./dockDB/data

CONTAINER_NAME=tech-local
COMPOSE_PROJECT_NAME=techlocal
CONTAINER_MODE=unless-stopped

YII_DEBUG=true
YII_ENV=dev

SMS_KEY=XXXXXXXXXXXXYYYYYYYYYYYYZZZZZZZZXXXXXXXXXXXXYYYYYYYYYYYYZZZZZZZZ
SMS_INF=INFORM